@font-face {
	font-family: "Oxygen";
	font-display: swap;
	src: url("/assets/Oxygen-Regular.ttf");
}
@font-face {
	font-family: "Oxygen";
	font-display: swap;
	font-weight: bold;
	src: url("/assets/Oxygen-Bold.ttf");
}

/* semantic color variables for this project */
:root {
	--font-default: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	--font-header: Oxygen, sans-serif;

	--filter-module-hover: brightness(0.75);

	--filter-module-sold: saturate(0.25) brightness(1.125);
	--filter-module-sold-hover: saturate(0.25) brightness(0.75);

	--filter-battery-hover: saturate(0.8) brightness(0.8);

	--filter-battery-sold: saturate(0.25) brightness(1.125);
	--filter-battery-sold-hover: saturate(0.25) brightness(0.75);
}
