@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

input,
button {
	font-size: 1em;
}

html {
	font-size: 1.5em;
}

body {
	font-family: var(--font-default);

	margin: 0;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;

	cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
	color: unset;
}

p,
ul {
	margin: unset;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold text-blue;
	}

	h1 {
		@apply text-4xl;
	}
}
